
.btn-default {
    width: 254px;
height: 52px;
border-radius: 5px;
opacity: 1;
}

.btn-block {
    width: 100%;
}


.btn-success {
    background-color: #145DA0;
    color : white
}

.btn-cancel {
    background-color: #242E4C1A;
    color: black
}